@import '../../styles/shared';

.buttonsList {
  list-style: none;
  padding-left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    padding: 20px 0px 0px 0px;
  }
}

.button {
  &:not(:last-child) {
    margin-right: 10px;

    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
  }
}
