.section {
  padding: 100px 0;
}

.cardWrapper {
  padding: 20px;
  max-width: 700px;
  width: 100%;
  background: #fff;
  background: linear-gradient(
    180deg,
    rgba(28, 153, 223, 0.57) 2.08%,
    rgba(50, 181, 255, 0.1482) 81.77%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;

  margin: auto;
  margin-top: 100px;
}

.weatherWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.currentWeather {
  font-size: 96px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.date {
  color: #ccc;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  font-weight: 700;

  &.city {
    color: #4783f1;
    font-size: 30px;
  }
}

.iconDescriptions,
.windDescriptions {
  font-size: 25px;
  font-style: italic;
  text-decoration: underline;
  color: #fff;
}
