@import '../../styles/shared.scss';

.section {
  padding: 100px 15px;
  background: $backgroun-accent;
}

.forecastTitle {
  font-size: 30px;
  margin-top: 0;
  text-align: center;
  color: $accent-color;
}

.forecastInfoThumb {
  text-align: center;
}

.list {
  @extend %list;
  margin: 0;
  padding: 0;
  text-align: center;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 0 auto;
    margin: 25px;
    display: grid;
    grid-gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.item {
  padding: 10px;
  background: $backgroun-accent;
  box-shadow: $boxShadow;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
