.section {
  background: linear-gradient(
    180deg,
    rgba(28, 153, 223, 0.57) 2.08%,
    rgba(50, 181, 255, 0.1482) 81.77%
  );

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.forecastTitle {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
}

.forecastInfoThumb {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item {
  min-width: 150px;
  &:not(:last-child) {
    margin-right: 14px;
  }

  margin-bottom: 20px;

  padding: 10px;

  background: linear-gradient(
    180deg,
    rgba(28, 153, 223, 0.57) 2.08%,
    rgba(50, 181, 255, 0.1482) 81.77%
  );

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
