$accent-color: #4783f1;
$button-accent-color: #3f51b5;
$white: #fff;
$primary-color: #212121;
$black: #000;
$red: red;
$grey: #ccc;
$backgroun-accent: linear-gradient(
  180deg,
  rgba(28, 153, 223, 0.57) 2.08%,
  rgba(50, 181, 255, 0.1482) 81.77%
);
