%list {
  list-style: none;
}

%button {
  padding: 8px 16px;
  border-radius: 2px;
  background: $backgroun-accent;
  transition: all $timing-function;
  text-align: center;
  display: inline-block;
  color: $white;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 120px;
  box-shadow: $boxShadowButton;

  &:hover,
  :focus {
    background-color: $button-accent-color;
  }
}
