.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.logo {
  background: url('../../images/logo.png');
  width: 65px;
  height: 65px;
  margin: 0;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
