.header {
  position: fixed;
  min-width: 100%;
  background-color: #fff;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headerTitle {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  color: #4783f1;

  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.links {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.logo {
  background: url('../../images/logo.png');
  width: 65px;
  height: 65px;
  margin: 0;
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
